.container {
    display: grid;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 3px;
    background-color: dodgerblue;        
    padding: 5px;
}
.container div{
    background-color: white;
    padding: 10px;
}

.container div.header{
    grid-area:  header;
    text-align: center;
}
.container div menu{
    grid-area: menu;
}
.container div content{
    grid-area: content;
}
.container div.footer {
    grid-area: footer;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo{
    font-size: 1.5rem;
}
ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li{
    margin-right: 20px;
}

ul li a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
ul li a:hover{
    color: lightgreen;
}
.checkbtn{
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
@media (max-width: 768px) {
    .checkbtn{
        display: block;
        order: 1;
        margin-right: 20px;
    }
    ul {
        position: fixed;
        top: 55px;
        right: -100%;
        /*height: 100vh;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s;
    }
    ul li {
        margin: 20px 0;
    }
    ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        right: 0;
    }
}
