body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* BBH Bartle font class */
.bbh-bartle-regular {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Or apply directly to h1 if you want */
h1 {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    color: red;
}

h3{
    hex-color: #6c1b09;
}

h4{
    rgb-color: rgb(255, 87, 51);
}

h5{
    hsl-color: hsl(9, 81%, 27%);
}

h2 {
    font: italic small-caps bold 12px/30px Georgia, serif;
}

.system-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                 'Open Sans', 'Helvetica Neue', sans-serif;
}
