body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin: 40px 0;
}

.zigzag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 40px;
  background-color: lightgrey;
}

.zigzag.reverse {
  flex-direction: row-reverse;
  background-color: whitesmoke;
}

.image img {
  width: 300px;
  border-radius: 10px;
}

.text {
  max-width: 400px;
}

.text h2 {
  margin-bottom: 10px;
}


