/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* BODY */
body {
    background: radial-gradient(circle at top left, #1a1a1a, #000);
    color: #fff;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

nav a {
    color: #aaa;
    text-decoration: none;
    margin-left: 30px;
    font-size: 15px;
}

nav a.active {
    color: #ff2d2d;
    border-bottom: 2px solid #ff2d2d;
    padding-bottom: 5px;
}

/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    padding: 80px 60px;
}

/* LEFT */
.hero-left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.profile-circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 4px solid #8b1d1d;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.3);
}

.profile-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT */
.hero-right {
    flex: 2;
    padding-left: 60px;
}

.hello {
    color: #ff2d2d;
    margin-bottom: 10px;
}

.hero-right h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 15px;
}

.role {
    color: #aaa;
    max-width: 520px;
    margin-bottom: 30px;
}

/* BUTTONS */
.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 26px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
}

.primary {
    background: #ff2d2d;
    color: #fff;
}

.secondary {
    border: 1px solid #444;
    color: #fff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-right {
        padding-left: 0;
        margin-top: 40px;
    }

    .buttons {
        justify-content: center;
    }
}

.logo img {
    width: 50px;      /* adjust if needed */
    height: auto;
}
